$white2: #d3d6dc;
$white: #f6f7f7;
$lightblue: #a4cce9;
$darkblue: #255381;
$blue: #6c8eaf;
$gray: rgb(175, 175, 175);
$text: rgb(48, 48, 48);

.sidebar {
    background: $darkblue;
    width: 250px;
    padding: 55px 0;
    position: fixed;
    height: 100vh;
    ul {
        list-style-type: none;
        padding: 0 20px 0 20px;
    }
    li {
        color: $white;
        font-size: 20px;
        line-height: 50px;
        img {
            width: 30px;
        }
    }
}

.navbar-brand {
    img {
        width: 50px;
    }
}

.wrapper {
    color: $text;
    margin-left: 290px;
    padding: 70px 0 0 0;
    .minimizedCard {
        width: 97%;
        background: white;
        border: 1px solid $gray;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 8fr 4fr;
        .timestamp {
            color: $gray;
            grid-column: 1;
            padding: 20px;
        }
        .buttons {
            grid-column: 2;
            grid-row: 1;
            justify-self: end;
            padding: 20px;
            ul {
                list-style-type: none;
            }
            li {
                padding: 0 10px 0 0;
                display: inline-block;
            }
        }
        .card-title {
            grid-column: 1;
            padding: 0 20px;
        }
        .divider {
            width: 100%;
            border-bottom: 1px solid $gray;
            grid-column: 1/4;
        }
        .info {
            background-color: $blue;
            // padding: 20px;
            grid-column: 1/4;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .info1 {
                padding: 20px;
            }
            .details {
                grid-column: 4;
                padding: 0 30px;
                border-left: 1px solid white;
                justify-self: end;
                color: white;
                font-weight: bolder;
            }
        }
    }
}
